.weatherLocationCont{
    margin: 30px;
    width: 450px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 42px -12px rgba(0, 0,0, 0.75);
}

.LocationCont{
    width: 100%;
    height: 35px;
    text-align: left;
    color: #888;
    line-height: 35px;

}

.LocationCont h1{
    margin: 0;

}